/* GENERAL */
body {
  font-size: 11px;
  font-family: "Futura", sans-serif;
  max-width: 800px;
  margin: 2px;
}

.container {
  padding-bottom: 100%;
  position: relative;
  background-size: contain;
  /*use line below to see container size*/
  /*border: 1px solid grey;*/
}

/* TEXT */
.vis-title {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  font-size: 18px;
  font-weight: normal;
  color: #000000;
  max-width: 98%;
  z-index: 1;
  margin: 0px;
}

.vis-text {
  position: absolute;
  left:2px;
  font-size: 11px;
  color: #000000;
  top: 8%;
  line-height: 1.4em;
  max-width: 35%;
  z-index: 1;
}

#intro-text {
  margin-top: 2px;
  margin-bottom: 2px;
}

#tooltip {
  margin-top: 2px;
  margin-bottom: 2px;
}

#tooltipIntro {
  text-decoration: underline #ef3340;
  display: inline-block;
  margin-bottom: 2px;
}

button {
  position: absolute;
  z-index: 1000;
}


.caveat {
  position: absolute;
  font-size: 9px;
  bottom: 2px;
  left: 2px;
  margin: 0;
  z-index: 1;
}

.longtext {
  display: none;
}

/* LOGO */
#tbij-logo {
  position: absolute;
  width: 8%;
  height: 8%;
  bottom: 2px;
  right: 2px;
}

/* FOR MEDIUM SCREEN SIZE */
@media(min-width: 400px) {
  body {
    margin: 5px;
  }
  
  .vis-title  {
    top: 5px;
    left: 5px;
    right: 5px;
    font-size: 20px;
    margin: 0px;
  }

  .vis-text {
    top: 8%;
    left: 5px;
    font-size: 13px;
  }

  #intro-text {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #tooltip {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #tooltipIntro {
    margin-bottom: 5px;
  }

  .caveat {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 11px;
  }

  .longtext {
    display: none;
  }

  #tbij-logo {
    bottom: 5px;
    right: 5px;
  }
}

/* FOR LARGE SCREEN SIZE */
@media(min-width: 600px) {
  body {
    margin: 8px;
  }

  .vis-title  {
    top: 8px;
    left: 8px;
    right: 8px;
    font-size: 22px;
    margin: 0px;
  }

  .vis-text {
    top: 8%;
    left: 8px;
    font-size: 17px;
  }

  #intro-text {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  #tooltip {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  #tooltipIntro {
    margin-bottom: 8px;
  }

  .caveat {
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 13px;
  }

  .longtext {
    display: inline;
  }

  #tbij-logo {
    bottom: 8px;
    right: 8px;
  }
}
