
:root {
  --accent-color: #EF3340;
}

 path.line {
    fill: none;
    stroke: #706F6F;
    stroke-width: 0.5px;
    opacity: 0.2;
  }

  .area {
  fill: #706F6F;
  opacity: 0.2;
}

.annotation path {
  stroke: var(--accent-color);
  fill: none;
}

.annotation path.connector-arrow,
.title text, .annotation text,
.annotation.callout.circle .annotation-subject path{
  fill: var(--accent-color);
}
.annotation-note-bg {
  fill: rgba(255, 255, 255, 0);
}

.annotation-note-title {
  font-weight: bold;
}

.annotation.xythreshold {
  cursor: move;
}

.hidden {
  display: none;
}

text.hover {
  font-size: .7em;
}

text.title {
  font-size: 2.1em;
}
