body {
  font-size: 11px;
  font-family: "Futura",sans-serif;
  max-width: 800px;
  margin: 2px;
}

.container {
  padding-bottom: 100%;
  position: relative;
  background: url(bar.svg);
  background-size: contain;
  /*use line below to see container size*/
   /*border: 1px solid grey; */
}

.vis-title {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 18px;
  font-weight: normal;
  color: #000000;
  margin: 0px;
}

.vis-text {
  position: absolute;
  top: 28%;
  right: 2px;
  max-width: 40%;
  font-size: 11px;
  line-height: 1.4em;
  color: #000000;
}

.caveat {
  position: absolute;
  bottom: 2px;
  left: 2px;
  margin: 0;
  max-width: 88%;
  font-size: 9px;
}

.longtext {
  display: none;
}

#tbij-logo {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 8%;
  height: 8%;
}

/* FOR LARGER SCREEN SIZE */
@media(min-width: 600px) {
  body {
    margin: 8px;
  }

  .vis-title  {
    top: 8px;
    left: 8px;
    right: 8px;
    font-size: 22px;
    line-height: 1.4em;
    margin: 0px;
  }

  .vis-text {
    font-size: 17px;
    right: 8px;
  }
  
  .caveat {
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 13px;
  }

  .longtext {
    display: inline;
  }

  #tbij-logo {
    bottom: 8px;
    right: 8px;
  }
}

