/* GENERAL */
body {
  background-color: #1d1d1b;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow-y: auto;
  padding: 1rem;
  margin: 0;
}

.dashboard__copy {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 750px;
  margin: auto;
}

.dashboard__copy p,a {
  color: white;
  font-family: PT Mono, monospace;
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 0;
}

/* TITLE */
.vis-title {
  color: white;
  font-size: 1rem;
  font-family: BebasNeue, sans-serif;
  line-height: 2rem;
}

.dashboard__main {
  height: 100%;
  align-items: center;
  padding-bottom: 1.25rem;
}

.fa-building {
  float: left;
  font-size: 120px;
  flex: 1;
  padding-right: 1rem;
  background: linear-gradient(to top, #e66 100%, #333 0);
  animation: dropSlide 2s ease-in-out 1;
  animation-fill-mode: forwards;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vis-text {
  flex: 2;
}

.emphasise {
  font-size: 2rem;
  font-weight: bold;
  color:#ef3340;
}

.dashboard__caveat p, a {
  line-height: 1.1rem;
  font-size: 0.8rem;
}

.page-link {
 font-size: 1rem; 
}

/* SHARE BUTTONS */
#social-share-btn-twitter {
  padding: 1px 12px 1px 12px;
  background-color: #ef3340;
  border-radius: 9999px;
  font-weight: 500;
  text-decoration: none;
}

#social-share-btn-twitter i {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
}

#social-share-btn-twitter span {
  margin-left: 3px;
}

#social-share-btn-twitter:hover {
    background-color: #d0111e;
}

/* LOGO */
.dashboard__logo {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.dashboard__logo img {
  width: 2rem;
}

@media(min-width: 500px) {
  .dashboard__main {
    display: flex;
  }
  .dashboard__copy {
    align-self: center;
    padding-top: 2%;
  }
  .vis-title {
    font-size: 1.5rem;
  }
  .fa-building {
    font-size: 180px;
  }
  .dashboard__logo img {
    width: 5rem;
  }
}
